@import '../../../components/mixins.scss';

.wrapper {
    @include wrapper;

    .modalWindow {
        @include modalWindow;
        
        .modalForm {
            @include modalForm;
            
            width: 556px;
            height: 452px;
        }
    }

    .title {
        align-self: center;
    }

    button {
        @include blueButton;
        width: 90px;
        height: 50px;
    }

    .table_fridge {
        @include table_fridge;
        
        button {
            @include blueButton;
            width: 90px;
            height: 50px;
        }
    }
}
