@import '../../components/mixins.scss';

.wrapper {

    @include wrapper;

    .title {
        align-self: center;
    }

    .table_fridge {
        width: 100%;
        border-collapse: collapse;
        border-left: 3px solid #05386B;
        border-right: 3px solid #05386B;
        border-bottom: 3px solid #05386B;
        font-family: "Montserrat";
        background-color: #FFFF;

        td {
            padding: 10px;
            :last-of-type {
                text-align: center;
            }
        }

        th {
            text-align: center;
            padding: 10px;
            text-align: left;
            font-size: 18px;    
        }

        button {
            @include blueButton;
            width: 100px;
            height: 40px;
        }
    }
}