@import '../../../../components/mixins.scss';

.modalWindow {
    @include modalWindow;
    
    .modalForm {
        @include modalForm;

        width: 500px;
        height: 200px;
        
        .buttons {
            @include buttons;
            button {
                @include blueButton;
                width: 130px;
                height: 40px;
            }
        }
    }
}