@import '../../../components/mixins.scss';

.wrapper {
    @include wrapper;

    .title {
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
           @include text;
        }

        .addProductButton {
            margin-right: 50px;
            @include blueButton;
        }
    }

    .table_fridge {
        @include table_fridge;
        
        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .buttons {

                display: flex;
                justify-content: space-between;
                width: 190px;

                button {
                    @include blueButton;
                    width: fit-content;
                    height: 34px;
                    font-size: 16px;
                }      
            }
        }
    }
}