@import '../../../../components/mixins.scss';

.modalWindow {
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    background: transparentize(#000000, 0.65);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalForm {
        background-color: #FFFFFF;
        width: 556px;
        height: 452px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .buttons {
            margin-top: 54px;
            display: flex;
            width: 474px;
            justify-content: space-between;
            
            button {
                @include blueButton;
                width: 164px;
                height: 65px;
            }
        }
    }
}